body{
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Merriweather', serif; */
  font-size: 16px;
}

.wrapper{
  margin: 0 auto;
  width: 1200px;
  /* display: inline-block; */
  /* text-align: center; */

}

#header{
  margin: 10px 100px;
  padding: 0px;
  line-height: 100%;
  position: fixed;
  z-index: 1;
}

h1{
  line-height: 0;
  font-size: 28px;
}

h2{
  font-size: 20px;
}

#chart{
  float: left;
  height: 600px;
  width: 600px;
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
}


#controls{
  float: left;
  position: relative;
  width: 600px;
  left: 600px;
}

.story{
  width: 70%;
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%); 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;  
  margin-bottom: 50px;

}

.story_step{
  display: block; 
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  border-bottom: 1px solid black;

}

.story_step:first-of-type{
  border-top: 1px solid black; 
}

.story_step:last-of-type{
  border-bottom: 1px solid black; 
}

.story_step p{
  text-align: justify; 
}

button{
  width: 66%;
  font-family: inherit;
  font-size: 16px;
  background: white;
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.5em;
  
}

button:hover {
  color: white;
  background: black;
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: white;
  background: black;
}


/* #scroll {
    position: relative;
  }
  
  
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .scroll__graphic .chart {
    position: absolute;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
  }
  
  .step {
    opacity: 0;
    padding: 1rem;
  }
  
  .step.is-active {
    opacity: 1;
  }
    
     */